.available-cities__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.available-cities__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base-secondary-50;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
