.company-contacts {
  padding-top: 28px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    flex-shrink: 0;
    width: 398px;
    padding-left: 65px;
  }
}

.company-contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 10px;

  list-style: none;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    padding-left: 0;
  }
}

.company-contacts__item {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.company-contacts__item:last-child {
  margin-bottom: 0;
}

.company-contacts__item--phone {
  margin-left: -12px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.company-contacts__link {
  display: flex;

  transition: all 300ms ease;

  &:hover svg,
  &:focus svg {
    color: @accent;
  }

  &:active,
  &:active svg {
    color: @accent-30;
  }
}

.company-contacts__link svg {
  width: 26px;
  margin-right: 16px;
  fill: none;
  color: @extra;

  transition: all 300ms ease;
}

.company-contacts__link--email {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @accent;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    text-decoration: underline;
  }
}

.company-contacts__link--email svg {
  margin-top: -3px;
}

.company-contacts__link--phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @accent;
}
