.company-contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.company-contacts__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @accent;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    text-decoration: underline;
  }
}

.company-contacts__phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @accent;
}

.company-contacts__email,
.company-contacts__phone {
  &:active {
    color: @accent-30;
  }
}
