.info-review {
  padding-top: 50px;
  background-color: @background;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
  }
}

.info-review__group {
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 34px;
  padding-left: 20px;

  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 32px 30px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 382px;
    margin-left: auto;
    padding: 30px;
  }
}

.info-review__title {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base;
  letter-spacing: -0.691667px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
  }
}
