.info-review__title {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base;
  letter-spacing: -0.691667px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
  }
}
