.main-nav__logo-img {
  width: 44px;
  height: 17px;

  @media (min-width: @desktop-width) {
    width: 57px;
    height: 22px;
  }
}

.main-nav__phone {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: @base-secondary;

    &:hover,
    &:focus {
      color: @accent;
    }

    &:active {
      color: @accent-30;
    }
  }
}

.main-nav .section__wrapper--general {
  width: auto;

  @media (min-width: @desktop-width) {
    width: 1170px;
  }
}

.main-nav .section__wrapper--personal {
  @media (min-width: @desktop-width) {
    width: auto;
  }
}
