.main-footer {
  padding-top: 60px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 159px;
    padding-bottom: 74px;
  }
}

.main-footer__content {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 281px;
    column-gap: 50px;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 397px 1fr;
    column-gap: 0;
  }
}
