.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 133px;
  padding-bottom: 285px;

  list-style: none;
  background-color: @white;
  box-shadow: 0px 4px 30px @shadow-10;

  @media (min-width: @desktop-width) {
    position: static;

    display: flex;
    flex-direction: row;
    margin-right: 78px;
    margin-left: auto;
    padding: 0;
    box-shadow: none;
  }
}

.menu__item {
  margin-bottom: 30px;

  @media (min-width: @desktop-width) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.menu__item:last-child {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 24px 10px 16px;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @grey;
  text-decoration: none;

  background-color: @background;

  &:hover,
  &:focus {
    background-color: @extra;
  }

  &:active {
    color: @grey-30;
  }

  &:active path {
    fill-opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    display: inline;
    height: auto;
    padding: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: @base-secondary;

    background-color: transparent;

    &:hover,
    &:focus {
      color: @accent;
      background-color: transparent;
    }

    &:active {
      color: @accent-30;
    }
  }
}

.menu__link svg {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--nojs {
  position: static;

  display: block;
}
