.modal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  z-index: 999;

  display: none;
  background-color: @white;
  box-shadow: 0px 4px 30px @shadow-10;

  @media (min-width: @tablet-width) {
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  padding: 0;

  color: @base-secondary-20;

  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @background;
  }

  &:active {
    color: @base-secondary-10;
  }
}

.modal.modal--show {
  display: grid;
}
