.pricing-contacts__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base-secondary;

  @media (min-width: @desktop-width) {
    font-size: 22px;
  }
}

.pricing-contacts__phone {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @accent;

  @media (min-width: @desktop-width) {
    color: @black;
  }
}
