.promo {
  @media (min-width: @tablet-width) {
    min-height: 344px;

    background-color: @main-img-bg;
    background-image: url("../img/promo-tablet.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-tablet@2x.webp");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 860px;

    background-image: url("../img/promo-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-desktop@2x.webp");
    }
  }
}

.promo__content {
  @media (min-width: @tablet-width) {
    width: 400px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    width: 470px;
    margin: 0;
    margin-left: auto;
    padding-top: 185px;
    padding-bottom: 80px;
  }
}

.promo__group--top {
  display: flex;
  justify-content: center;
  min-height: 235px;
  padding-top: 81px;
  padding-bottom: 82px;

  background-color: @main-img-bg;
  background-image: url("../img/promo-mobile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-mobile@2x.webp");
  }

  @media (min-width: @tablet-width) {
    min-height: auto;
    margin-bottom: 15px;
    padding: 0;

    background: none;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}

.promo__group--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.promo__title {
  width: 288px;
  margin: 0;
  margin-right: -5px;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-right: 0;

    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;

    font-size: 55px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -1.10667px;
  }
}

.promo__description {
  width: 288px;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base;
  letter-spacing: -0.466667px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-bottom: 10px;

    color: @white;
  }

  @media (min-width: @desktop-width) {
    width: 370px;
    margin-bottom: 33px;

    text-align: left;
  }
}
