.review-author {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.review-author__photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 15px;
  }
}

.review-author__name {
  display: block;
  padding-left: 7px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base;
  letter-spacing: -0.466667px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}
