.section__wrapper {
  width: 288px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 726px;
  }

  @media (min-width: @desktop-width) {
    width: 1170px;
  }
}

.section__wrapper--main-nav {
  width: auto;
  margin: 0;

  @media (min-width: @desktop-width) {
    width: 1170px;
    margin: 0 auto;
  }
}

.section__wrapper--promo {
  width: auto;

  @media (min-width: @tablet-width) {
    width: 726px;
  }

  @media (min-width: @desktop-width) {
    width: 1170px;
  }
}

.section__wrapper--locations {
  @media (min-width: @tablet-width) {
    width: 616px;
  }

  @media (min-width: @desktop-width) {
    width: 1170px;
  }
}

.section__wrapper--locations-tabs {
  width: auto;
  margin: 0;

  @media (min-width: @desktop-width) {
    width: 1170px;
    margin: 0 auto;
  }
}

.section__wrapper--locations-info-list {
  width: auto;
  margin: 0;

  @media (min-width: @desktop-width) {
    position: relative;

    width: 1170px;
    margin: 0 auto;

    &::before {
      content: "";

      position: absolute;
      top: 14px;
      left: -136px;
      z-index: -1;

      width: 1443px;
      height: 1088px;

      background-image: url("../img/map.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.section__wrapper--info-main {
  width: auto;
  margin: 0;
  padding: 0 16px;

  @media (min-width: @tablet-width) {
    padding: 0 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.section__wrapper--info-review {
  @media (min-width: @desktop-width) {
    width: auto;
    margin: 0;
  }
}

.section__wrapper--pricing {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.section__title {
  margin: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    font-size: 55px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -1.245px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      bottom: -34px;

      width: 228px;
      height: 4px;

      background-color: @accent;
    }
  }
}

.section__title--locations {
  margin-bottom: 21px;

  @media (min-width: @desktop-width) {
    width: 360px;
    margin-bottom: 65px;
  }
}

.section__title--pricing {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;

    line-height: 90px;
    letter-spacing: 0;

    &::before {
      bottom: -18px;

      width: 175px;
      height: 3px;

      background-color: @accent;
    }
  }
}

.section__description {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: @base-70;
  letter-spacing: -0.466667px;

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.section__description--locations {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 330px;
    margin: 0;
    margin-bottom: 53px;
  }
}

.section__description--pricing {
  margin-bottom: 18px;

  line-height: 27px;
  letter-spacing: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}
