* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;

  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @base-70;

  @media (min-width: @desktop-width) {
    overflow-x: hidden;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: block;
  width: 100%;
  height: 100%;

  background-color: @base-secondary-70;
  cursor: pointer;
}

.modal.notice {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 72px 16px;

  @media (min-width: @tablet-width) {
    width: 728px;
    height: 444px;
    padding: 0;

    background-color: @background;
  }
}

.notice__message {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 400px;
  }
}

.has-danger input {
  border-color: @accent;
}

.pristine-error {
  position: absolute;
  top: -15px;
  left: 0;

  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: @accent;
}
